---
import Base from '../layouts/Base.astro';
---
<Base title="About" accent="var(--c-art)" crumb="About">
  <h1>Boris Oicherman, PhD</h1>
  <div class="prose">
    <img src="/images/srg0974.jpg" alt="Boris Oicherman" style="max-width: 420px;" />
    <p>I am an <a href="https://www.oicherman.art/boris/art">artist</a>, <a href="https://mnartists.walkerart.org/institution-as-living-artist-as-can-opener-as-system-change">curator</a>, <a href="https://www.clevelandjewishnews.com/news/local_news/oicherman-named-cleveland-foundation-program-director-for-arts/article_e694acd6-3b4f-11ed-9e5c-07308b18baff.html">grants administrator</a>, <a href="https://patents.google.com/?inventor=oicherman&oq=oicherman">engineer</a>... I've always had a hard time responding to the "what do you do" question. What's your field of engineering? (Color Science...?) What art medium? (Conditional art...?) What do you curate? (Creative collaborations...?)</p>
    <p>Answering a "simple" question with a conversation seemed the only way. It took me some years to realize that I'm having a hard time with having to segregate my work into fields, media, disciplines. I also had a hunch that artists can attach themselves to any other field, have conversations with all other professionals.</p>
    <p>The challenges that matter most don't fit into professional boundaries. They sit in culture: in how people experience, talk, and make meaning of things. Artists spend their lives absorbing and processing culture. When they work alongside scientists, doctors, engineers, planners, they bring that capacity with them, and things shift.</p>
    <p>At the moment, I serve as the Executive Director of <a href="https://www.wavepoolgallery.org/">Wave Pool</a>: an artist-led, community-serving art nonprofit in Cincinnati, OH. But whatever my job title is, I'm an artist, and this is the work I do.</p>
  </div>
</Base>
